.website_button {
display: inline-block;
background-color: white;
color: #f507f5;
padding: 0.5rem 1rem;
border-radius: 50rem;
font-weight: bold;
text-transform: uppercase;
}

.website_button:hover {
background-color: #ccc;
}
.dropbtn {
  background-color: rgb(14, 211, 171);
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.grid {
display: grid;
grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
grid-gap: 15px; /* Adjust the gap between columns */
}
.column {
padding: 10px;
grid-template-columns: 1fr 1fr;
background-color: rgba(242, 242, 242, 0);
}

.column::before {
  content: "";
  border-bottom: 1px solid #ccc;
  grid-column: 1 / -1;
}

.column h3 {
border-right: 1px solid #ccc;
padding: 10px;
color: black;
font-weight: bold;
}

.column p {
  padding: 10px;
}

.column p::after {
  content: "";
  display: block;
  border-bottom: 1px solid #ccc;
  padding-top: 10px;
}
